body {
  
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
 
  
  color: #050505;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.search-form input {
  flex: 1;
  padding: 8px;
}

.search-form button {
  padding: 8px 16px;
}

.tracks-container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  align-items: flex-start;
}

.results {
  flex: 1;
}

.selected {
  flex: 1;
  border-left: 2px solid #ddd;
  padding-left: 20px;
}

.track-list {
  list-style: none;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: white;
}

/* estado normal */
.track-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: all 0.2s ease;
  color: black; /* texto negro */
}

/* cuando pasas el mouse */
.track-list li:hover {
  background-color: #007bff;
  color: white;
}

.selected-list {
  list-style: none;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: white;
}

.selected-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  color: black;
}

.remove-btn {
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

.buy-btn {
  margin-top: 15px;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}